<body>
<div class="container">
    <a href="index.php?action=logout" class="logout-link">Logout</a>
    <h1 class="text-center">FileUpload</h1>
    <form action="index.php" method="post" enctype="multipart/form-data">
        <input type="hidden" name="action" value="add" required>
        <div class="block-send">
            <label class="label-file" for="file">
                <input class="input-file" type="file" name="file" id="file"
                       accept="{{ extends }}" required>
            </label>
            <div class="button-block">
                <button type="submit" value="submit" class="btn btn-primary" onclick="validateSize(this)">Add</button>
            </div>
        </div>
    </form>
    <div class="block__results">
        <div class="results">
            <p class="text-result">{{ name }}</p>
            <p class="text-result">{{ size }}</p>
            <p class="text-result">{{ exif }}</p>
        </div>
        <div class="file__block">
            <ul class="file__block-list">
                {% for file in data %}
                    <li class="file__block-item">{{ file }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script src="/Public/assets/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
</body>
</html>